html,
body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Segoe UI';
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.background {
    background-image: url('@/static/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.control-space-menu {
    padding-top: 80px !important;
}